body {
	display: table;
}
#canvas {
  background-color: #000000;
  height: 100%;
  width: 100%;
}

#button {
	background-color: #5bc0de;
	height: 60px;
	width: 150px;
	color: #ffffff;
	padding-top: 10px;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: -75px;
	position: absolute;
	right: 2%;
	cursor:pointer;
}
#button p {
	margin-top:-6px;
	font-family: sans-serif;
}
#warningWrapper {
	color: #d9534f;
	width: 100%;
	height: 30px;
	padding-top:10px;
	border-radius: 15px;
	text-align: center;
	margin:0 auto;
	position: absolute;
	top:0px;
}
#warning p {
	font-family: sans-serif;
	margin: 0 auto;
}